# --- BACKEND (Python) ---
**/__pycache__/
Backend/crear_admin.py
Backend/venv/
.env
*.pyc

# --- FRONTEND (React/Node) ---
**/node_modules/
Frontend/dist/
Frontend/.env
.eslintcache

# --- SISTEMA ---
.DS_Store
Thumbs.db